<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="templates/header :: header_basic"></head>
<body>
<div class="ui container">
    <header th:include="templates/head :: head_basic"></header>
    <nav th:include="navigation :: navigation"></nav>
    <div class="ui segment">
        <h2 class="ui header">HZDR Excursion</h2>
        <p>The <a href="https://tu-dresden.de/?set_language=en" target="_blank" rel="noopener noreferrer">Technische Universität Dresden</a> closely collaborates with the <a href="https://www.hzdr.de/db/Cms?pNid=0" target="_blank" rel="noopener noreferrer">Helmholtz-Center Dresden-Rossendorf (HZDR)</a>, the nearby facility known for its large scale experiments. As a DyProSo-2023 attendee, you will have the unique opportunity to visit two such large experiments at HZDR, namely the <a href="https://www.hzdr.de/db/Cms?pOid=10234&pNid=471" target="_blank" rel="noopener noreferrer">“Free-Electron Laser” Laboratory (FELBE)</a> and the <a href="https://www.hzdr.de/db/Cms?pOid=10379&pNid=580" target="_blank" rel="noopener noreferrer">“High-Magnetic-Field” Laboratory (HLD)</a>. This visit is scheduled for Friday September 29, 2023, right after the DyProSo-2023 conference. Booking is required for participation of the day, which can be done during online registration.</p>
        <h3 class="ui header">Schedule:</h3>
        <p style="margin-left: 6%;display:inline;float:left;">08:00</p>
        <p class="venue_addr">Leaving Dresden by Bus (<a href="https://goo.gl/maps/TMYxqvFZGaL6VmXEA" target="_blank" rel="noopener noreferrer">meeting point</a>: in front of IAP/Hermann-Krone-Bau, Nöthnitzer Str. 61, 01187 Dresden)</p>

        <p style="margin-left: 6%;display:inline;float:left;">09:00</p>
        <p class="venue_addr">Welcome and Introduction to HZDR</p>

        <p style="margin-left: 6%;display:inline;float:left;">10:00</p>
        <p class="venue_addr">Guided tours of HLD and ELBE</p>

        <p style="margin-left: 6%;display:inline;float:left;">12:30</p>
        <p class="venue_addr">Lunch at „Lodge at the lake“</p>

        <p style="margin-left: 6%;display:inline;float:left;">16:00</p>
        <p class="venue_addr">Arrival back in Dresden (via Bus)</p>

        <p style="margin-top: 20px;">Please remember to bring your ID-card/passport!</p>

    </div>
    <div th:include="footer :: footer"></div>
    <br>
</div>
</body>
</html>