<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="templates/header :: header_basic"></head>

<body>
<div class="ui container" >
    <header th:include="templates/head :: head_basic"></header>
    <nav th:include="navigation :: navigation"></nav>
    <div class="ui segment">

        <form th:action="@{/forgot_password}" class="ui form" method="post" th:object="${emailForm}"
              style="max-width: 420px; margin: 0 auto;">

            <h2 style="text-align: center;">Reset Password</h2>
            <p>We will be sending a reset password link to your email.</p>
            <div th:if="${success}" class="ui positive message">
                <div class="header">
                    Password reset request sent.
                </div>
                <p>Please check your email and click on the provided link to reset your password.</p>
            </div>

            <input type="email" name="email" autocomplete="off" th:field="*{email}" class="ui input" placeholder="Enter your e-mail"
                   required autofocus/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"
                 class="invalid-feedback"></div>

            <br><br>


            <input type="submit" value="Send" class="ui button"/>
        </form>

    </div>

    <div th:include="footer :: footer"></div>
    <br>
</div>

<script>
      $(".ui.dropdown").dropdown({transition: 'drop', on: 'hover' });
    </script>
</body>


</html>