<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="templates/header :: header_basic"></head>

<body>
<div class="ui container">
    <header th:include="templates/head :: head_basic"></header>
    <nav th:include="navigation :: navigation"></nav>
    <div class="ui segment">


        <form class="ui form" th:action="@{/forgot_password/reset_password}" method="post"
              th:object="${PasswordResetForm}">
            <div class="ui grid" id="log_form">
                <div class="row">
                    <div class="column">
                        <h2 style="text-align: center;">Reset Password</h2>
                    </div>
                </div>

                <input type="hidden" name="token" th:value="${token}">
                <div class="row">
                    <div class="column">
                        <div class="field">
                            <input type="password" name="password" id="password" th:field="*{password}"
                                   placeholder="Enter your new password" required autofocus/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="field">
                            <input type="password" name="rpassword" class="ui input"
                                   placeholder="Confirm your new password" th:field="*{rpassword}"
                                   required oninput="checkPasswordMatch(this);"/>
                            <div th:if="${#fields.hasErrors('rpassword')}" th:errors="*{rpassword}" style="color: red"
                                 class="invalid-feedback"></div>
                            <span th:value="${message}"></span>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <input type="submit" value="Change Password" class="ui button"/>
                    </div>
                </div>


            </div>
        </form>


    </div>

    <div th:include="footer :: footer"></div>
    <br>
</div>


<script>
      $(".ui.dropdown").dropdown({transition: 'drop', on: 'hover' });
    </script>
</body>


</html>